@external .djs-*, .open, .entry;

.djs-context-pad.open {
	color: #000;
}

.djs-context-pad .entry{
	width:auto;
}

.djs-popup{
	top: 15px !important;
	left: auto !important;
	right: 15px !important;
	bottom: auto !important;
}

.djs-popup-body {
	color: #000;
}

